@font-face {
    font-family: 'IRANSansWeb';
    src: url('IRANSansWeb.eot');
    src: url('IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('IRANSansWeb.woff2') format('woff2'),
        url('IRANSansWeb.woff') format('woff'),
        url('IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANSansWeb';
    src: url('IRANSansWeb-Medium.eot');
    src: url('IRANSansWeb-Medium.eot?#iefix') format('embedded-opentype'),
        url('IRANSansWeb-Medium.woff2') format('woff2'),
        url('IRANSansWeb-Medium.woff') format('woff'),
        url('IRANSansWeb-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANSansWeb';
    src: url('IRANSansWeb-Bold.eot');
    src: url('IRANSansWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('IRANSansWeb-Bold.woff2') format('woff2'),
        url('IRANSansWeb-Bold.woff') format('woff'),
        url('IRANSansWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

